.App {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  width: 100%;
  margin-bottom: 2%;
  color: lightgrey;
}

