.Base {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.Base-header {
  background-color: #222;
  height: 150px;
  width: 100%;
  margin-bottom: 2%;
  color: lightgrey;
}

.Base-main {
  text-align: center;
  width: 60%;
  height: 70%;
  display: flex;
  justify-content: space-around;
}

