.SignUpForm {
  text-align: center;
  width: 300px;
  height: 170px;
  margin: 15px;
  background-color: #BDBDBD; 
  border-style: inset;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.SignUpForm input {
  margin-top: 15px;
}
