.Board {
  text-align: center;
  height: 280px;
  margin: 15px;
  background-color: #BDBDBD; 
  border-style: inset;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.Tile {
  height: 10%;
  width: 10%;
  background-color: #BDBDBD; 
  border-style: outset;
}
