.Tile {
  height: 10%;
  width: 10%;
  background-color: #BDBDBD; 
  border-style: outset;
}

.TileShown {
  height: 10%;
  width: 10%;
  border-style: solid;
  border-width: 3px;
  border-color: #828282;
  background-color: #BDBDBD; 
}

.icons {
  height: 20px;
  margin-top: 4px;
  width: 20px;
}
